<ion-header>
  <ion-toolbar>
    <ion-title>Mis Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cargando" class="cargando">
    <p>Cargando favoritos...</p>
  </div>

  <ion-list *ngIf="!cargando && favoritos.length > 0">
    <ion-item 
      *ngFor="let personaje of favoritos" 
      [routerLink]="['/detalles-personaje', personaje.id]">
      
      <ion-avatar slot="start">
        <img [src]="personaje.image" [alt]="personaje.name">
      </ion-avatar>
      
      <ion-label>
        <h2>{{ personaje.name }}</h2>
        <p>{{ personaje.universe }}</p>
      </ion-label>

      <div 
        slot="end" 
        class="badge-favorito"
        [class.heroe]="personaje.affiliation === 'Hero'"
        [class.villano]="personaje.affiliation === 'Villain'">
        {{ getTextoAfiliacion(personaje.affiliation) }}
      </div>

      <ion-button 
        slot="end" 
        fill="clear" 
        color="success" 
        (click)="eliminarFavorito(personaje, $event)">
        <ion-icon name="star" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="!cargando && favoritos.length === 0" class="vacio">
    <p>No hay favoritos</p>
    <p>Agrega personajes desde la página principal</p>
    <ion-button [routerLink]="['/tabs/explorar']" color="success" class="boton-cuadrado">
  Ir a Inicio
</ion-button>
  </div>
</ion-content>