.cargando, .vacio {
  text-align: center;
  padding: 50px;
}

.badge-favorito {
  padding: 4px 8px;
  border: 2px solid;
  font-size: 10px;
  font-weight: bold;
  border-radius: 0;
  text-transform: uppercase;
  margin-right: 10px;
}
.boton-cuadrado {
  --border-radius: 0;
  margin-top: 10px;
}
.badge-favorito.heroe {
  background: #007bff;
  color: white;
  border-color: #0056b3;
}

.badge-favorito.villano {
  background: #ffa500;
  color: black;
  border-color: #cc8400;
}